.pointButton {
    width: 
    30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.pointButton div {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3 linear;
}