header {
  background: #005aa7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #fff,
    #005aa7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #fff,
    #005aa7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  padding: 20px 0;
}
.headerContainer {
  max-width: 1000px;
  height: 50px;
  padding: 0px 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerRight {

}
